.navBar {
    background-color: black;
    position: sticky;
    padding: 5px;
    height: 25px;
    top: 0; /* Stick the element to the top of the viewport */
    z-index: 100;
}

.navLink {
    color: Gold;
    text-decoration: none;
    margin: 0 10px;
}

.navLink:hover {
    color: orange;
    cursor: pointer;
}

.menu {
    float: right;
}

.dropDownLink{
    color: white;
    text-decoration: none;
}

.dropDownLink:hover {
    color: orange;
    cursor: pointer;
}

.dropDownOption{
    padding: 5px;
    text-align: center;
}

.dropDown{
    width: 150px;
    background-color: black;
    float: right;
}
